{% include base_path %}
{% assign group_talks = site.talks | sort: 'date' | reverse %}
<h2>{{ include.project }}</h2><hr />
<ul>
  {% for post in group_talks %}
    {% if post.project != include.project %}
      {% continue %}
    {% endif %}
    <li>
      {% unless post.title == include.project %}
        <strong><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></strong><br />
      {% endunless %}
      {% if post.title == include.project %}
        <a href="{{ base_path }}{{ post.url }}">{{ post.venue }}</a>
      {% else %}
        {{ post.venue }}
      {% endif %}{% if post.location %} &mdash; {{ post.location }}{% endif %}, {{ post.date | date: "%B %Y" }}
    </li>
  {% endfor %}
</ul>
